<section class="about-us">
  <div class="vertical">
    <div class="vertical__bar">_</div>
    <h5><%= t('about_us.title') %></h5>
  </div>
  <div class="about-us__wrapper">
    <h2><%= t('about_us.description') %></h2>
    <h2 class="about-us__wrapper--separate"><%= t('about_us.sub_description') %></h2>
    <button onclick="window.location.href='<%= t('about_us.url') %>'" class='button button__orange'><%= t('about_us.cta') %></button>  
  </div>
</section>
