<section class="team border">
  <div class="vertical">
    <div class="vertical__bar">_</div>
    <h5><%= t('team.title') %></h5>
  </div>
  <div class="team__wrapper">
    <% t('team.people').each do |data| %>
      <div class="row">
        <div class='row-picture'>
          <img src='images/<%= data[:image] %>' />
        </div>
        <div class='row-data'>
          <h3><%= data[:name] %></h3>
          <small><a class='js-link_linkedin' href="<%= data[:url] %>">View LinkedIn Profile</a></small>
          <p><%= data[:description] %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
